{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="static/css/style.css">
{% endblock %}

{% block contact_active %}active{% endblock %}

{% block content %}
<div class="container">
    <h4 style="text-align:center;" class="mt-3">Feel free to contact us using the form below:</h4>
    <br>
    <form action="/">
        <div class="row justify-content-center">
            <div class="mb-2 col-7">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" id="" name="name" placeholder="Your name" required>
            </div>
            <div class="mb-2 col-7">
                <label for="" class="form-label">Email</label>
                <input type="email" class="form-control" id="" name="email" placeholder="name@gmail.com" required>
            </div>
            <div class="mb-2 col-7">
                <label for="" class="form-label">Message</label>
                <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"
                    placeholder="write something" required></textarea>
            </div>
            <div class="mb-2 col-7">
                <button type="submit" class="btn btn-primary form-control">Send</button><br>
            </div>
        </div>
    </form>
</div>
{% endblock content %}